In [11]:
import pandas as pd


# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load  = "locations.csv"

# Read Purchasing File and store into Pandas data frame
locations_csv = pd.read_csv(file_to_load)

In [12]:
locations_csv.head()

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

In [13]:
loc_transposed = locations_csv.transpose()

SyntaxError: invalid syntax (<ipython-input-13-f305a4681167>, line 1)

In [10]:
json_test = loc_transposed.to_json()
json_test

NameError: name 'loc_transposed' is not defined